<section>


    <div class="container">
        <h4 class="p-4 text-center"><b>Administrator Area</b></h4>
        <form action="/admin/administrator" method="POST" class="px-4 " style="margin: auto;">
            <div class="mb-3">
                <label for="exampleInputEmail1" class="form-label">Email address</label>
                <input type="email" name="Email" class="form-control" id="exampleInputEmail1"
                    aria-describedby="emailHelp" required>
                {{#if loginErr}}
                <div id="emailHelp" class="form-text">{{loginErr}}</div>
                {{else}}
                <div id="emailHelp" class="form-text">We'll never share your email with anyone else.</div>
                {{/if}}
            </div>
            <div class="mb-3">
                <label for="exampleInputPassword1" class="form-label">Password</label>
                <input type="password" name="Password" class="form-control" id="password" required>
            </div>
            <div class="mb-3 form-check">
                <input type="checkbox" id="toggle-password">
                <label class="form-check-label" for="exampleCheck1"> Show Password</label>

            </div>
            <button type="submit" class="btn btn-primary">Submit</button>
        </form>

    </div>

</section>
<script>
    const password = document.getElementById("password");
    const togglePassword = document.getElementById("toggle-password");

    //checkbox click to 'checked'
    togglePassword.addEventListener("click", toggleClicked);

    function toggleClicked() {
        if (this.checked) {
            password.type = "text";
        } else {
            password.type = "password";
        }
    }
 
</script>