<section>
    <div class="container">
        <table class="table">
  <thead>
    <tr>
      <th scope="col">#</th>
      <th scope="col">Name</th>
      <th scope="col">Category</th>
      <th scope="col">Description</th>
      <th scope="col">Price</th>
      <th scope="col">Image</th>
    </tr>
  </thead>
  <tbody>
       {{#each Product}}
    <tr>
      <th scope="row">1</th>
      <td>{{name}}</td>
      <td>{{category}}</td>
      <td>{{description}}</td>
      <td>nill</td>
      <td><img src="{{image}}" style="width: 50px; height: 50px;"  alt=""></td>
    </tr>
    {{/each}}
    
  </tbody>
</table>
    </div>
</section>