<section>
    <div class="container">

        <form action="" id="checkout-form">
            <h2 class="text-center">Enter Delivery Details</h2>
            <div class="row mt-5">
                <div class="col-md-6 ps-4 mt-5">
                    <label for="">Address</label><br>
                    <textarea name="address" class="w-75" type="text"></textarea><br>
                    <label class="mt-4" for="">Mobile</label><br>
                    <input name="mobile" class="w-75" type="text"><br>
                    <label class="mt-4" for="">Pin Code</label><br>
                    <input name="zipcode" class="w-75" type="text"><br>
                    <input type="text" name="user" value="{{user._id}}" hidden>
                    <input type="text"name="totalPrice" value="{{total}}" hidden>

                </div>
                <div class="card col-md-6 mt-5" style="height: 18rem; width: 20rem">
                    <div class="card-body">
                        <h4>Total Amount : <br>{{total}}<span>Rs</span ></h4>
                        <p>Payment Method</p>
                        <input name="payment" value="cod" type="radio" checked>
                        <label for="">COD</label><br>
                        <input name="payment" value="online" type="radio" >
                        <label for="">ONLINE</label><br>
                        <button class="btn btn-success mt-5 w-50" type="submit">Submit</button>
                    </div>
                </div>
            </div>
        </form>
    </div>
</section>
 
<script>

   
  $("#checkout-form").submit((e) => {
    e.preventDefault() // prevent actual form submit
    $.ajax({
        url:'/place-order',
        method:'post',
        data: $("#checkout-form").serialize(), // serializes form input

        success : (response) => {
       
           // alert(response)
            if(response.codSuccess){
              window.location.href = "/order-success"
            }else{
              razorpayPayment(response)
            }
            
        }
    })
})
         function razorpayPayment(order){  
          var options = {
            "key": "rzp_test_62AQfwWCr3pWHH", // Enter the Key ID generated from the Dashboard
            "amount": order.amount, // Amount is in currency subunits. Default currency is INR. Hence, 50000 refers to 50000 paise
            "currency": "INR",
            "name": "Devnock",
            "description": "Test Transaction",
            "image": "https://example.com/your_logo",
            "order_id": order.id, //This is a sample Order ID. Pass the `id` obtained in the response of Step 1
            "handler": function (response){
               // alert(response.razorpay_payment_id);
               // alert(response.razorpay_order_id);
               // alert(response.razorpay_signature);

                verifyPayment(response,order)
            },
            "prefill": {
                "name": "Gaurav Kumar",
                "email": "gaurav.kumar@example.com",
                "contact": "9999999999"
            },
            "notes": {
                "address": "Razorpay Corporate Office"
            },
            "theme": {
                "color": "#3399cc"
            }
        };
        var rzp1 = new Razorpay(options);
        rzp1.open();
         }
         function verifyPayment(payment,order){
             $.ajax({
                 url : "/verify-payment",
                 data : {
                     payment,
                     order
                 },
                 method : 'post',
                 success : (response) => {
                     if(response.status) {
                         window.location.href = "/order-success"
                     }else{
                         alert('Payment Failed')
                     }
                 }
             })
         }
</script>