<section>
    <div class="container">

        <form action="">
            <h2 class="text-center">Enter Delivery Details</h2>
            <div class="row mt-5">
                <div class="col-md-6 ps-4 mt-5">
                    <label for="">Address</label><br>
                    <textarea name="address" class="w-75" type="text"></textarea><br>
                    <label class="mt-4" for="">Mobile</label><br>
                    <input name="mobile" class="w-75" type="text"><br>
                    <label class="mt-4" for="">Pin Code</label><br>
                    <input name="zipcode" class="w-75" type="text"><br>
                </div>
                <div class="card col-md-6 mt-5" style="height: 18rem; width: 20rem">
                    <div class="card-body">
                        <h4>Total Amount : RS 10000</h4>
                        <p>Payment Method</p>
                        <input name="payment" id="payment1" type="radio">
                        <label for="">COD</label><br>
                        <input name="payment" id="payment2" type="radio" checked>
                        <label for="">ONLINE</label><br>
                        <a class="btn btn-success mt-5 w-50 " href="">Submit</a>
                    </div>


                </div>
            </div>
        </form>
    </div>
</section>